body{
    background-color: antiquewhite;
}

ul{
    list-style: none;
}


.input_task{
    width: 30vw;
    padding: .5rem .2rem;
    font-size: 1.3rem;
}

.btn_add{
    margin-left: 1rem;
    background-color: brown;
    color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-weight: 600;
}

.tasks_container{
    width: 60%;
    height: 500px;
    margin: auto;
}

.center_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_delete{
    margin: 0 1rem;
    background-color: brown;
    color: white;
    border-radius: 4px;
    padding: 0 .7rem;
    font-weight: 600;
}

.task_box{  
    background-color: white;
    box-shadow: 3px 5px 10px black;
    margin-bottom: 1rem;
    border-radius: 10px;
    max-width: 100%;
}

.checkbox_style{
    margin-left: 1rem;
    width: 20px;
    aspect-ratio: 1/1;
}

.task_style{
    font-size: 1.5rem;
}